.DS_Store
products/SoapServiceProducts/target/producing-web-service-complete-0.0.1-SNAPSHOT.jar
products/SoapServiceProducts/target/producing-web-service-complete-0.0.1-SNAPSHOT.jar.original
products/SoapServiceProducts/target/generated-sources/jaxb/META-INF/JAXB/episode_xjc_1.xjb